server {
    listen 80;

    server_name {{inventory_hostname}} www.{{inventory_hostname}} default;

    location / {
        proxy_pass http://{{ansible_ssh_host}}:{{nginx_node_port}};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
